<ion-view view-title="Films populaires" name="movies-list-view">
  <ion-content class="padding">
    <div id="movies-list" class="list list-inset">
      <ul>
    		<li><span class='movie-title-header'>Titre</span><span class='movie-vote-average-header'>Note</span></li>
    		<li ng-repeat="movie in movies track by $index"><span class='movie-title' ng-click='movieDetails(movie.id)'>{{movie.title}}</span><span class='movie-vote-average'>{{movie.vote_average}}</span></li>
    	</ul>
    </div>
  </ion-content>
</ion-view>
