<ion-view view-title="Films" name="movies-list-view">
  <ion-content class="padding">
    <div class="list" style="margin-bottom: 55px;">
      <div ng-click="movieDetails({{movie.id}})"class="item item-thumbnail-left" ng-repeat="movie in movies track by $index">
        <img ng-src="https://image.tmdb.org/t/p/w75/{{movie.poster_path}}" />
        <h2>{{ movie.title }}</h2>
        <p>Sortie : {{ movie.release_date | date:'dd/MM/yyyy'}}</p>
        <p>Note : {{ movie.vote_average}} / 10</p>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <button ng-click="previousPage()" class="button">Précédent</button>
    <div class="title">Page {{ currentPage }}</div>
    <button ng-click="nextPage()" class="button">Suivant</button>
  </div>
</ion-view>
